# Project 2

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, tree

In [2]:
dataset = pd.read_csv('general_data.csv')
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
dataset.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

from the above, 'TotalWorkingYears and NumCompaniesWorked' have missing values.
    therefore, the missing values will be replaced with the average of the corresponding columns.

###### finding the mean of the NumCompaniesWorked to replace the missing values

In [4]:
dataset['NumCompaniesWorked'].mean()

2.6948303347756775

In [5]:
CompWork_average_replace = np.where(dataset['NumCompaniesWorked'].isnull(),2,dataset['NumCompaniesWorked'])

In [6]:
dataset['NumCompaniesWorked'] = CompWork_average_replace

###### finding the mean of the TotalWorkingYears to replace the missing values

In [7]:
dataset['TotalWorkingYears'].mean()

11.279936378095888

In [8]:
TotWork_average_replace = np.where(dataset['TotalWorkingYears'].isnull(),11,dataset['TotalWorkingYears'])

In [9]:
dataset['TotalWorkingYears'] = TotWork_average_replace

###### converting the Attrition strings to integers

In [10]:
label_encoder = preprocessing.LabelEncoder()

In [11]:
encoded_attrition=label_encoder.fit_transform(dataset['Attrition'])

###### converting the BusinessTravel strings to integers

In [59]:
# encoded_BusinessTravel=label_encoder.fit_transform(dataset['BusinessTravel'])

###### converting the Department strings to integers

In [92]:
#encoded_Department=label_encoder.fit_transform(dataset['Department'])

###### converting the EducationField strings to integers

In [93]:
#encoded_EducationField=label_encoder.fit_transform(dataset['EducationField'])

###### converting the Gender strings to integers

In [94]:
#encoded_Gender=label_encoder.fit_transform(dataset['Gender'])

###### converting the JobRole strings to integers

In [219]:
#encoded_JobRole=label_encoder.fit_transform(dataset['JobRole'])

###### converting the MaritalStatus strings to integers

In [220]:
#encoded_MaritalStatus=label_encoder.fit_transform(dataset['MaritalStatus'])

###### Initialise the Decision Tree

In [221]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [244]:
predictors=pd.DataFrame([dataset['Age'], dataset['DistanceFromHome'],dataset['MonthlyIncome']]).T

In [245]:
tree_model = tree.DecisionTreeClassifier(max_depth=10)

In [246]:
#tree_model.fit(X=predictors, y=dataset['Attrition'])
tree_model.fit(X=predictors, y=encoded_attrition)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=10, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [247]:
with open('ProjectTwo.dot', 'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['Age','DistanceFromHome'
                                                     ,
                                                     'MonthlyIncome'],out_file=f);

In [248]:
# testing for accuracy of the model
print('Accuracy of algorithm: ')
#tree_model.score(X=predictors,y=dataset['Survived'])
tree_model.score(X=predictors,y=encoded_attrition)

Accuracy of algorithm:

0.9006802721088435

##  Using Random Forest to determine the important variable

In [250]:
dataset_features = pd.DataFrame([dataset['Age'], dataset['DistanceFromHome'],
                                dataset['MonthlyIncome']]).T

In [251]:
predictor_test = tree_model.predict(X=dataset_features)

In [252]:
predicted_output = pd.DataFrame({'Age':dataset['Age'], 'Attrition':predictor_test})

In [253]:
predicted_output.to_csv('Output2.csv', index=False);

In [254]:
from sklearn.ensemble import RandomForestClassifier

In [256]:
label_encoder = preprocessing.LabelEncoder()

In [257]:
dataset['Attrition'] = label_encoder.fit_transform(dataset['Attrition'])

In [258]:
randomforest_model = RandomForestClassifier(n_estimators=1000, max_features=2, oob_score = True)

In [259]:
features = ['Age', 'DistanceFromHome','MonthlyIncome']

In [260]:
randomforest_model.fit(X=dataset[features], y=dataset['Attrition'])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [261]:
print('OOB ACCURACY: ')
print(randomforest_model.oob_score)

OOB ACCURACY:
True

In [262]:
print('OOB ACCURACY: ')
print(randomforest_model.oob_score_)

OOB ACCURACY:
1.0

In [263]:
for features,imp in zip(features, randomforest_model.feature_importances_):
    print(features,imp);

Age 0.25405857790292
DistanceFromHome 0.20986800368856082
MonthlyIncome 0.5360734184085192

from the above, 'Age, DistanceFromHome, Age' are the important variable and were used in the algorithm.