# Project 3

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, tree

In [7]:
dataset = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx', sheet_name=1)
dataset

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [8]:
dataset.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

from the above, there is, no missing values.

Also, there is no need to convert STRINGS to INTEGERS.

###### Initialise the Decision Tree

In [9]:
dataset.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [15]:
predictors=pd.DataFrame([dataset['Age'], dataset['Experience'],dataset['Income'],dataset['Family'],dataset['CCAvg'],
                        dataset['Education'],dataset['Mortgage'],dataset['Securities Account'],dataset['CD Account'],dataset['Online'],
                        dataset['CreditCard']]).T

In [16]:
tree_model = tree.DecisionTreeClassifier(max_depth=22)

In [17]:
tree_model.fit(X=predictors, y=dataset['Personal Loan'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=22, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [19]:
with open('ProjectThree.dot', 'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['Age', 'Experience', 'Income', 'Family', 'CCAvg',
                                                     'Education', 'Mortgage', 'Securities Account',
                                                     'CD Account', 'Online', 'CreditCard'],out_file=f);

In [20]:
# testing for accuracy of the model
print('Accuracy of algorithm: ')
#tree_model.score(X=predictors,y=dataset['Survived'])
tree_model.score(X=predictors,y=dataset['Personal Loan'])

Accuracy of algorithm:

1.0