# Project 1

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, tree

In [6]:
dataset = pd.read_csv('train.csv')
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
dataset.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
dataset['Age'].mean()

29.69911764705882

In [15]:
age_average_replace = np.where(dataset['Age'].isnull(),29,dataset['Age'])

In [16]:
dataset['Age'] = age_average_replace

In [17]:
label_encoder = preprocessing.LabelEncoder()

In [18]:
encoded_sex=label_encoder.fit_transform(dataset['Sex'])

In [20]:
predictors=pd.DataFrame([encoded_sex, dataset['Age'], dataset['Fare']]).T

In [21]:
tree_model = tree.DecisionTreeClassifier(max_depth=6)

In [22]:
tree_model.fit(X=predictors, y=dataset['Survived'])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [23]:
with open('ProjectOne.dot', 'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['Sex', 'Age','Fare'],out_file=f);

In [25]:
# testing for accuracy of the model
print('Accuracy of algorithm: ')
tree_model.score(X=predictors,y=dataset['Survived'])

Accuracy of algorithm:

0.8271604938271605