# Project 2

In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing, tree

In [6]:
dataset = pd.read_csv('general_data.csv')
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
dataset.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

from the above, 'TotalWorkingYears and NumCompaniesWorked' have missing values.
    therefore, the missing values will be replaced with the average of the corresponding columns.

###### finding the mean of the NumCompaniesWorked to replace the missing values

In [14]:
dataset['NumCompaniesWorked'].mean()

2.8081632653061224

In [15]:
CompWork_average_replace = np.where(dataset['NumCompaniesWorked'].isnull(),2,dataset['NumCompaniesWorked'])

In [12]:
dataset['NumCompaniesWorked'] = CompWork_average_replace

###### finding the mean of the TotalWorkingYears to replace the missing values

In [16]:
dataset['TotalWorkingYears'].mean()

11.279936378095888

In [20]:
TotWork_average_replace = np.where(dataset['TotalWorkingYears'].isnull(),11,dataset['TotalWorkingYears'])

In [21]:
dataset['TotalWorkingYears'] = TotWork_average_replace

###### converting the Attrition strings to integers

In [22]:
label_encoder = preprocessing.LabelEncoder()

In [23]:
encoded_attrition=label_encoder.fit_transform(dataset['Attrition'])

###### converting the BusinessTravel strings to integers

In [24]:
encoded_BusinessTravel=label_encoder.fit_transform(dataset['BusinessTravel'])

###### converting the Department strings to integers

In [26]:
encoded_Department=label_encoder.fit_transform(dataset['Department'])

###### converting the EducationField strings to integers

In [27]:
encoded_EducationField=label_encoder.fit_transform(dataset['EducationField'])

###### converting the Gender strings to integers

In [28]:
encoded_Gender=label_encoder.fit_transform(dataset['Gender'])

###### converting the Over18 strings to integers

In [30]:
encoded_Over18=label_encoder.fit_transform(dataset['Over18'])

###### converting the JobRole strings to integers

In [38]:
encoded_JobRole=label_encoder.fit_transform(dataset['JobRole'])

###### converting the MaritalStatus strings to integers

In [45]:
encoded_MaritalStatus=label_encoder.fit_transform(dataset['MaritalStatus'])

###### Initialise the Decision Tree

In [32]:
dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [55]:
predictors=pd.DataFrame([encoded_BusinessTravel, encoded_Department, encoded_EducationField, encoded_Gender, encoded_Over18, 
                         dataset['Age'], dataset['DistanceFromHome'],dataset['Education'],dataset['EmployeeCount'],dataset['JobLevel'],dataset['EmployeeID'],
                        encoded_JobRole,dataset['PercentSalaryHike'],dataset['StandardHours'],dataset['StockOptionLevel'],dataset['TotalWorkingYears'],dataset['TrainingTimesLastYear'],
                        encoded_MaritalStatus,dataset['MonthlyIncome'],dataset['NumCompaniesWorked'], dataset['YearsAtCompany'], dataset['YearsSinceLastPromotion'], dataset['YearsWithCurrManager']]).T

In [56]:
tree_model = tree.DecisionTreeClassifier(max_depth=46)

In [57]:
#tree_model.fit(X=predictors, y=dataset['Attrition'])
tree_model.fit(X=predictors, y=encoded_attrition)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=46, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [58]:
with open('ProjectTwo.dot', 'w') as f:
    f=tree.export_graphviz(tree_model,feature_names=['BusinessTravel','Department', 'EducationField', 'Gender', 'Over18', 
                                                     'Age','DistanceFromHome','Education','EmployeeCount','JobLevel','EmployeeID',
                                                     'JobRole','PercentSalaryHike','StandardHours','StockOptionLevel','TotalWorkingYears','TrainingTimesLastYear',
                                                     'MaritalStatus','MonthlyIncome','NumCompaniesWorked', 'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],out_file=f);

In [59]:
# testing for accuracy of the model
print('Accuracy of algorithm: ')
#tree_model.score(X=predictors,y=dataset['Survived'])
tree_model.score(X=predictors,y=encoded_attrition)

Accuracy of algorithm:

1.0