In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats

In [5]:
mydata = pd.read_csv("/Users/jeremiah/Desktop/LetsUpgrade/7/general_data.csv")
mydata.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [7]:
mydata["Attrition"].replace(to_replace = ("No", "Yes"), value = (0,1), inplace = True)
mydata["Gender"].replace(to_replace = ("Female", "Male"), value = (0,1), inplace = True)

In [8]:
mydata.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4

#### Wilcoxon sign Test

In [16]:
from scipy.stats import wilcoxon

In [18]:
stats, p = wilcoxon(mydata.Attrition, mydata.Age)

In [19]:
print(stats,p)

0.0 0.0

#### Mann-Whitney test

In [37]:
from scipy.stats import mannwhitneyu

In [38]:
stats, p = mannwhitneyu(mydata.Attrition, mydata.Age)

In [22]:
print(stats,p)

0.0 0.0

#### Kruskal-Wallis test

In [23]:
from scipy.stats import kruskal

In [34]:
stats, p = kruskal(mydata.Attrition, mydata.Age, mydata.DistanceFromHome)

In [28]:
print(stats,p)

11743.613751869132 0.0

#### Chi-Square test

In [29]:
from scipy.stats import chi2_contingency

In [33]:
chitable = pd.crosstab(mydata.Age,mydata.Education)
print(chitable)

Education   1   2    3   4   5
Age
18          0   0    9  12   3
19          0  12    9   6   0
20          0   3   18  12   0
21          3  15    9   6   6
22          6  12   18   9   3
23          3   6   21  12   0
24          6  15   33  12  12
25         12  24   21  18   3
26         12  30   45  30   0
27          9  24   66  42   3
28         12  18   69  39   6
29         18  39   75  66   6
30          9  21   96  48   6
31         36  39   66  57   9
32         27  24   84  45   3
33          9  48   66  45   6
34         30  57   75  57  12
35         36  42   84  66   6
36         24  36  111  36   0
37         21  21   63  33  12
38          9  42   69  48   6
39         24  12   42  42   6
40         18  24   66  60   3
41         15  24   48  30   3
42         21  24   36  57   0
43          6  30   30  21   9
44         15  27   33  21   3
45         27  24   45  24   3
46         24   9   39  27   0
47          3  12   24  30   3
48         12   3   18  21   3
49         12  15   21  21   3
50          3  24   30  33   0
51          6  15   24  12   0
52         12  12   12  15   3
53          9   9   27  12   0
54          3   9   27  15   0
55          9   6   42   6   3
56          6  12    9  15   0
57          3   3    3   3   0
58          0   9   18  15   0
59          0   9    9  12   0
60          0   6    6   3   0

In [35]:
stats, p, dof, expected = chi2_contingency(chitable)

In [36]:
print(stats, p)

506.1081947525774 1.3867873539299397e-35

#### Friedman test

In [39]:
from scipy.stats import friedmanchisquare

In [44]:
stats, p = friedmanchisquare(mydata.Attrition, mydata.TotalWorkingYears,mydata.TrainingTimesLastYear)

In [45]:
print(stats
     ,p)

7660.159846324 0.0